// $lightest-gray: #f7f7f5;
// $light-gray: #e2e2e2;
// $gray: #999;
// $dark-gray: #6f6f6f;
//
// $lightest-blue: #f0f8fc;
// $light-blue: #6288a5;
// $blue: #326891;
// $dark-blue: #4d7b9f;
// $darkest-blue: #265e8b;

$main-dark: #2F363E;
$main: #454F59;
$main-light: #98B5A8;
$main-black: #3C3945;
$main-light: #D3C2A4;

$dark-header: #2F363E;
$main-header: #454F59;
$main-button: #8AC5C6;
$dark-button: #468e90;

$light-background: #ffffff;
$main-background: #f1f1f1;
$med-background: #f1f1f1;
