/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  font-family: 'Abel', sans-serif;
  background-color: #9c98a0;
}

.link {
  text-decoration: none;
  color: white;
}

.welcome-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  background-size: cover;
  background: url(http://res.cloudinary.com/dlbxdsfue/image/upload/v1478196715/pexels-photo-29608_ba75tb.jpg) no-repeat center;
}

.welcome-box {
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form-box {
  outline: 1px solid black;
  padding: 20px;
  background-color: white;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.filter {
  font-weight: bold;
}

.results-box {
  display: flex;
  justify-content: space-between;
}

.results-sidebar {
  flex: 1;
}

.results-table {
  flex: 3;
}

.create-card {
  cursor: pointer;
}
