@import "base/colors.scss";

.header-container {
  background-color: $main-red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  height: auto;
}
