@import "base/colors.scss";

.session-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.session-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.session-modal button {
  padding: 10px;
  margin: 5px;
}

.session-form {
  display: flex;
  flex-direction: column;
}

.session-modal select {
  margin: 5px;
}

.modalLink {
  background-color: $main;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 3px;
  transition: background-color 0.3s;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  outline: none;
  border-style: none;
  display: inline-block;
  cursor: pointer;
  margin: 7px;
}
