.grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
}

.grid-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #98B5A8;
  padding: 10px;
  margin: 10px;
}
